*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.QuizAppBoxs{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.QuizAppBox{
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: red;
}
.QuizTitle{
  font-size: 26px;
  padding: 30px;
}